.leftbar a {
    text-decoration: none !important;
    color: #fff !important; 
    font-weight: 500 !important;
}

.active {
    border-left: 3px solid #0c50a2;
    background-color: #172242;
    padding: 5px !important;
    width: 100% !important;
    color: #333 !important;
}
.MuiTypography-body1{
    font-size: 15px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
